<div class="d-flex flex-row align-items-center mb-2">
  <a mat-icon-button class="me-2" routerLink="/dashboard/courses">
    <mat-icon>keyboard_return</mat-icon>
  </a>
  <div>
    <p class="mb-0 text-secondary">Volver</p>
  </div>
</div>

@if (isLoading) {
  <mat-spinner></mat-spinner>
} @else {

  @if (errorMessage){
    <div class="text-center py-5">
      <p class="fs-3 fw-semibold text-secondary">{{ errorMessage }}</p>
    </div>
  } @else {
    <h1 class="mb-3 fw-bold fs-2 mb-4">{{ course?.name }}</h1>

    <div class="row">
      <div class="col-lg-8">
        <app-course-students [dataSource]="dataSource"/>
      </div>
      <div class="col-lg-4">
        <div class="bg-light-color p-3 rounded-4">
          <p class="fw-bold text-uppercase text-center">Información del curso</p>
          <mat-divider class="mx-2 my-3"></mat-divider>
          <mat-list>
            <mat-list-item class="mb-2"><span class="title-small">ID</span>{{ course?.id }}</mat-list-item>
            <mat-list-item class="mb-2"><span class="title-small">Profesor asignado</span>{{ course?.teacher?.name }}</mat-list-item>
            <mat-list-item class="mb-2"><span class="title-small">Horas Totales</span>{{ course?.hours }} hrs</mat-list-item>
            <mat-list-item><span class="title-small">N° Clases</span>{{ course?.nClasses }}</mat-list-item>
          </mat-list>
        </div>
      </div>
    </div>
  }
}
