<div class="p-2 border border-light rounded-4 shadow-sm mb-5 table-responsive">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 bg-white">
    <!-- ID -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef width="10%"> ID </th>
      <td mat-cell class="text-secondary" *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Estudiante -->
    <ng-container matColumnDef="studentIns">
      <th mat-header-cell *matHeaderCellDef> Estudiante Inscrito </th>
      <td mat-cell class="text-secondary" *matCellDef="let element"> {{element.student}} </td>
    </ng-container>

    <!-- Curso -->
    <ng-container matColumnDef="courseIns">
      <th mat-header-cell *matHeaderCellDef> Curso Inscrito </th>
      <td mat-cell class="text-secondary" *matCellDef="let element"> {{element.course}} </td>
    </ng-container>

    <!-- Fecha Inscripcion -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Fecha Inscripción </th>
      <td mat-cell class="text-secondary" *matCellDef="let element"> {{element.date}} </td>
    </ng-container>

    <!-- Fecha Inscripcion -->
    <ng-container matColumnDef="user">
      <th mat-header-cell *matHeaderCellDef> Usuario Responsable </th>
      <td mat-cell class="text-secondary" *matCellDef="let element"> {{element.user}} </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef width="5"> Editar </th>
      <td mat-cell *matCellDef="let element">
        <button title="edit" mat-icon-button class="text-secondary">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- View Column -->
    <!-- <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef width="5"> Detalle </th>
      <td mat-cell *matCellDef="let element">
        <button title="view" mat-icon-button
          class="text-secondary">
          <mat-icon>visibility</mat-icon>
        </button>
      </td>
    </ng-container> -->

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef width="5"> Borrar </th>
      <td mat-cell *matCellDef="let element">
        <button title="delete" mat-icon-button class="text-secondary">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
