<h2 mat-dialog-title appHeaderSize class="fw-bold text-center my-3">{{title}}</h2>
<mat-dialog-content class="pt-3">
  <form [formGroup]="editStudentForm">
    <div class="row">
      <mat-form-field class="col-lg-6 mb-0" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input title="name" formControlName="name" matInput />
      </mat-form-field>

      <mat-form-field class="col-lg-6 mb-0" appearance="outline">
        <mat-label>Apellido</mat-label>
        <input title="lastname" formControlName="lastName" matInput />
      </mat-form-field>

      <mat-form-field class="col-lg-6 mb-0" appearance="outline">
        <mat-label>Teléfono</mat-label>
        <input title="phone" formControlName="phone" type="tel" matInput />
        <mat-icon matSuffix>phone</mat-icon>
      </mat-form-field>

      <mat-form-field class="col-lg-6 mb-0" appearance="outline">
        <mat-label>Sexo</mat-label>
        <mat-select formControlName="gender">
          <mat-option *ngFor="let sex of genders" [value]="sex">{{ sex === "F" ? 'Femenino' : 'Masculino' }}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-12 mb-0" appearance="outline">
        <mat-label>E-mail</mat-label>
        <input title="mail" formControlName="email" type="email" matInput />
        <mat-icon matSuffix>mail</mat-icon>
      </mat-form-field>

      <mat-form-field class="col-12 mb-0" appearance="outline">
        <mat-label>Perfil</mat-label>
        <mat-select formControlName="profile">
          <mat-option *ngFor="let profile of profiles" [value]="profile">{{ profile }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-stroked-button mat-dialog-close class="text-secondary">Cancelar</button>
  <button type="submit" (click)="onSubmit()" mat-flat-button class="btn-color-primary">Guardar cambios</button>
</mat-dialog-actions>

