<mat-drawer-container class="main-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list>
      <div mat-subheader>Admin.</div>
      <a mat-list-item href="#!" active>
        <mat-icon matListItemIcon>school</mat-icon>
        Estudiantes
      </a>
      <a mat-list-item href="#!">
        <mat-icon matListItemIcon>book</mat-icon>
        Cursos
      </a>
    </mat-nav-list>
  </mat-drawer>

  <!-- Content -->
  <div class="sidenav-content">
    <app-toolbar (drawerToggle)="drawer.toggle()"/>
    <main class="py-5 px-4">
      <app-students/>
    </main>
  </div>

</mat-drawer-container>

