<div class="d-flex flex-row flex-wrap justify-content-between align-items-center mb-3">
  <h1 class="fw-bold fs-2">Estudiantes</h1>

  @if (!isLoading) {
    <button title="add" (click)="openFormStudent()" mat-flat-button class="ms-3 btn-color-primary text-uppercase">
      <mat-icon>add</mat-icon>
      Nuevo Estudiante
    </button>
  }
</div>

@if (isLoading) {
  <div class="h-100 d-flex align-items-center justify-content-center">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  <div class="row gx-4">
      <!-- Tabla estudiantes -->
      @if (hasError) {
        <p>Ha ocurrido un error</p>
      } @else {
        <div class="p-2 border border-light rounded-4 shadow-sm mb-5 table-responsive">
          <table mat-table [dataSource]="students" class="mat-elevation-z8 bg-white">
            <!-- id Column -->
            <ng-container matColumnDef="id" >
              <th mat-header-cell *matHeaderCellDef width="5%"> ID </th>
              <td mat-cell *matCellDef="let element" class="text-secondary"> {{element.id}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Nombre </th>
              <td mat-cell *matCellDef="let element" class="fw-medium text-secondary"> {{ element | fullName }} </td>
            </ng-container>

            <!-- Correo -->
            <ng-container matColumnDef="mail">
              <th mat-header-cell *matHeaderCellDef> E-mail </th>
              <td mat-cell *matCellDef="let element"><a href="mailto:{{ element.email }}">{{ element.email }}</a></td>
            </ng-container>

            <!-- Género -->
            <ng-container matColumnDef="gender">
              <th mat-header-cell *matHeaderCellDef> Sexo </th>
              <td mat-cell *matCellDef="let element">{{ element.gender === 'F' ? 'Femenino' : 'Masculino'  }}</td>
            </ng-container>

            <!-- Teléfono -->
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef> Teléfono </th>
              <td mat-cell *matCellDef="let element" class="text-secondary"> {{ element.phone }} </td>
            </ng-container>

            <!-- Edit Column -->
            <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef width="5"> Editar </th>
              <td mat-cell *matCellDef="let element">
                <button title="edit" mat-icon-button (click)="openFormStudent(element)" class="text-secondary">
                  <mat-icon>edit</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- View Column -->
            <ng-container matColumnDef="view">
              <th mat-header-cell *matHeaderCellDef width="5"> Detalle </th>
              <td mat-cell *matCellDef="let element">
                <button title="view" mat-icon-button
                  [routerLink]="element.id"
                  [queryParams]="{
                    name: element.name,
                    lastName: element.lastName
                  }"
                  class="text-secondary">
                  <mat-icon>visibility</mat-icon>
                </button>
              </td>
            </ng-container>

            <!-- Delete Column -->
            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef width="5"> Borrar </th>
              <td mat-cell *matCellDef="let element">
                <button title="delete" mat-icon-button (click)="onDelete(element.id)" class="text-secondary">
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <!-- <div *ngIf="selectedStudent" class="mat-elevation-z4 p-4 mt-4">
          <h2>Detalle del Estudiante</h2>
          <p><strong>ID:</strong>{{ selectedStudent.id }}</p>
          <p><strong>Nombre:</strong>{{ selectedStudent.name }}</p>
          <p><strong>Apellido:</strong>{{ selectedStudent.lastName }}</p>
        </div> -->
      }
  </div>
}
