<mat-toolbar class="px-4 bg-white">
  <button mat-mini-fab (click)="drawerToggle.emit()" class="btn-menu me-3" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="fw-bold text-dark">ABM Estudiantes</span>

  <div class="dropdown ms-auto">
    <button class="btn btn-link dropdown-toggle user-dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="person.jpg" width="50" class="img-fluid user-img" alt="user-img">
        <div class="mx-2 text-start">
          <p class="mb-0">{{authUserName$ | async}}</p>
          <small>{{ authUserProfile$ | async }}</small>
        </div>
    </button>
    <ul class="dropdown-menu dropdown-menu-end border-0 shadow">
      <li><a class="dropdown-item" (click)="logout()"><mat-icon>logout</mat-icon> Cerrar Sesión</a></li>
    </ul>
  </div>
</mat-toolbar>
